.password{
    background-color: rgb(252,238,234);
    padding-top: 29px;
    height: 82vh;
}
.password__card{
    background-color: white;
    margin: auto;
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 55px 45px;
    padding-bottom: 80px;
}
.account__card__create__password__div__input {
    border: 1px solid #d4d5d9;
    font-size: 12px;
    height: auto;
    line-height: 16px;
    padding: 11px 12px;
    padding-left:16px;
    outline: none;
    caret-color: #ff3f6c;
  }  
input:focus {
color: #282c3f;
font-size: 12px;
}
.inputOnFocus {
    transition: 0.4s;
    border: 1px solid #282c34;
    color: black;
  }
  .inputPlaceHolder{
      background-color: white;
      padding:0px 2px;
      color: black;
      transform: translateY(-1.7em);
  }
.password__card__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.password__card__text{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .6px;
}

.account__card__button {
    cursor: pointer;
    background-color: #ff3f6c;
    width: 76%;
    border: none;
    padding: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 13px;
}
.otp__card__loginpassword{
    padding-left: 0px;
    padding-top: 14px;
    font-size: 12px;
    color: #282c3f;
}
.otp__card__loginpassword__link{
    cursor: pointer;
    color:#ff3f6c;
    font-weight: 600;
    letter-spacing: .3px;
}